html, body, main, section, #map_canvas {
         height: 100%;
         width: 100%;
         margin: 0px;
     }

     #map_canvas{
         position: relative;
         height: 500px;
         width:500px;
     }


     .angular-google-map-container {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;

     }

     p{
       color: yellow;
     }
